.Contact {
    height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    padding: 98px 50px 50px 50px;
    text-align: center;
}

.Contact h2 {
    font-size: 2.5rem;
}

.Contact P {
    max-width: 80%;
    margin: 16px auto;
    padding-bottom: 24px;
    font-size: 1.06rem;
    line-height: 1.5;
}

.Contact .Contact-email-link {
    padding: 14px 22px;
    font-size: 0.86rem;
    background-color: transparent;
    border: 1px solid #fdf6f6;
    border-radius: 6px;
    color: white;
    letter-spacing: 3px;
    transition: all 0.3s ease; 
}

.Contact .Contact-email-link:hover {
    cursor: pointer;
    box-shadow: rgb(163, 159, 159) 4px 4px 4px;
    transform: translate(-3px, -3px);

}

.Contact h3 {
    margin-top: 84px;
    font-size: 1.7rem;
}

.Contact .Contact-links {
    margin-top: 26px;
    display: flex;
    justify-content: center;
    gap: 42px;
}

.Contact .social-icons {
    line-height: 44px;
    font-size: 1.15rem;
}

.Contact .icon-wrapper {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
}


.Contact .icon-wrapper:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease; 
}

@media (max-width: 992px) {
 
}

@media (max-width: 768px) {
    .Contact {
        height: auto;
        max-width: 100%;
        margin: 0 auto;
        padding: 48px 20px 50px 20px;
    }
}



