.Skills {
    padding: 60px;
    height: 100vh;
    padding-top: 96px;
}

.Skills .Skills-heading {
    margin-left: 54px; 
    padding-left: 54px;
}

.Skills h3 {
    font-size: 1.7rem;
    margin-bottom: 8px;
}

.Skills p {
    font-size: 1.1rem;

}

.Skills-sect {
    padding-top: 44px;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Skills-sect .fa-icon {
    margin-bottom: 54px;
    text-align: center;
}

.Skills-sect .skill-icon {
    font-size: 3.8rem;
    margin-bottom: 12px;
}

@media (max-width: 992px) {
    .Skills {
        padding: 10px;
        height: auto;
        padding-top: 96px;
    }

    .Skills .Skills-heading {
        margin-left: 10px; 
        padding-left: 10px;
    }

    .Skills h3 {
        font-size: 1.5rem;
    }
    
    .Skills p {
        font-size: 1rem;
    
    }

    .Skills-sect {
        padding-top: 38px;
        max-width: 88%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .Skills-sect .skill-icon {
        font-size: 1.4rem;
        margin-bottom: 12px;
    }
}